.sign-profile__header
  %h1 本人確認
  %ul
    %li 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません
.sign-profile__main
  = form_for @profile do |f|
    = render "devise/shared/error_messages", resource: @profile
    .sign-profile__box
      .require
        %span.require__list お名前（全角）
        %span.require__form 必須
      .input_form
        = f.text_field :first_name, class: "form_text", placeholder: "全角氏"
        = f.text_field :last_name, class: "form_text", placeholder: "全角名"
    .sign-profile__box
      .require
        %span.require__list カナ（全角）
        %span.require__form 必須
      .input_form
        = f.text_field :first_kana, class: "form_text", placeholder: "全角カナ"
        = f.text_field :last_kana, class: "form_text", placeholder: "全角カナ"
    .sign-form__box
      .require
        %span.require__list 生年月日
        %span.require__form 必須
      .birthday_form
        %br/
        = f.date_select :birth_date, with_css_classes:'birthday-date', use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
    .profile__address__box
      .require
        %span.require__list 電話番号
        %span.require__form-sub 任意
      .address-input_form
        = f.text_field :phone, class: "form_text", placeholder: "例）09012345678"
    .actions
      = f.submit "登録する", class: "submit-btn"