.sign-header
  = render "sign_header"
.sign__main
  .sign__main__contents
    = form_for(@address, url: addresses_path, method: :post) do |f|
      = render "devise/shared/error_messages", resource: @address
      .sign-main__header
        商品受取住所入力
      .sign-profile__header
        %ul
          %li ※安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません
      .sign-form
        .sign-form__box
          .require
            %span.require__list 郵便番号
            %span.require__form 必須
          .input_form
            = f.text_field :post_code, class: "form_text", placeholder: "例）123-4567"
        .sign-form__box
          = form_for(@address, url: addresses_path, method: :post) do |f| 
            .require
              %span.sign-form__require-list 都道府県
              %span.require__form 必須
              .address-input_form
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "都道府県を選択", class: 'address'
                %i.fa_icon-chevron-down
        .sign-form__box
          .require
            %span.require__list 市町村区
            %span.require__form 必須
          .input_form
            = f.text_field :city, class: "form_text", placeholder: "例）大阪市中央区3丁目"
        .sign-form__box
          .require
            %span.require__list 番地
            %span.require__form 必須
          .input_form
            = f.text_field :address, class: "form_text", placeholder: "例）101-1"
        .sign-form__box
          .require
            %span.require__list マンション・アパート名、部屋番号
            %span.require__form-sub 任意
          .input_form
            = f.text_field :apartment, class: "form_text", placeholder: "例）難波ビル5-11"
        .actions
          = f.submit "登録する", class: "submit-btn"
.sign-footer
  = render "sign_footer"