-# 商品購入確認ページ
.confirm__header
  = link_to image_tag("logo/logo.png",class: "confirm__header__icon"),root_path
.confirm__contents
  .confirm__contents__section
    %h2.confirm__contents__section__title
      購入内容の確認
  .confirm__contents__section
    .confirm__contents__section__inner
      = image_tag @product.images[0].image.to_s
      -if @product.purchasers.present? 
        .items-box_photo__sold
          .items-box_photo__sold__inner
            SOLD
      .confirm__section__right
        .confirm__item__name
          = @product.name
        .confirm__item__price
          %span.tax 送料込み（税込み）
          %span.price2 
            = @product.price
            円
  .confirm__contents__section
    .confirm__contents__section__pay
      %span.payment 支払い金額
      %span.price 
        ¥
        = @product.price
        円
  .confirm__contents__section
    .confirm__payment__text
      支払い方法
      = "**** **** **** " + @default_card_information.last4
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
  .confirm__contents__section
    -if @product.purchasers.blank? 
      .buy__btn
        = form_tag(action: :pay, method: :post) do
          %button 購入する
.confirm__footer
  .confirm__footer__texts
    .confirm__footer__text
      =link_to "プライバシーポリシー",'/#'
    .confirm__footer__text
      =link_to "FURIMA利用規約",'/#'
    .confirm__footer__text
      =link_to "特定商取引に関する表記",'/#'
  = link_to image_tag("logo/logo-white.png",class: "confirm__footer__image"),root_path
  .confirm__footer__end
    ©FURIMA
