-# メインビジュアル
.main__visual
  .main__visual__content
    .visual__content__title
      人生を変えるフリマアプリ
    .visual__content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br/
      フリマアプリです
    .visual__content__btn
      = link_to image_tag("logo/app-storee.svg", class: "content__btn__img"),'/#'
      = link_to image_tag("logo/google-play.svg", class: "content__btn__img"),'/#'

-# イントロダクション
.top__introduction
  .top__introduction__title
    FURIMAが選ばれる３つの理由
  .introduction__box
    .introduction__list
      .introduction__list__pict
        .introduction__list__number
          1
        = image_tag "pict/pict-reason-01.jpg", class: "introduction__list__img"
      .introduction__list__text
        %span 3分で
        すぐに出品
      .introduction__list__description
        スマホで入力するだけで簡単に出品できる！
    .introduction__list
      .introduction__list__pict
        .introduction__list__number
          2
        = image_tag "pict/pict-reason-02.jpg", class: "introduction__list__img"
      .introduction__list__text
        %span シンプル
        で使いやすい
      .introduction__list__description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .introduction__list
      .introduction__list__pict
        .introduction__list__number
          3
        = image_tag "pict/pict-reason-03.jpg", class: "introduction__list__img"
      .introduction__list__text
        手数料
        %span 業界最安
      .introduction__list__description
        最大３％でお得に出品＆購入！

-# ミドルダウンロード
.middle__dl
  .middle__dl__inner
    .dl__inner__title
      会員数日本１位
    .dl__inner__text
      FURIMAは、フリマアプリで最も人気。
      %br/
      出品・購入回数も業界最多です！
      %br/
      ほしかったあの商品に出会えるかもしれません。
    .dl__inner__btn
      = link_to image_tag("logo/app-storee.svg", class: "dl__btn__link"),'/#'
      = link_to image_tag("logo/google-play.svg", class: "dl__btn__link"),'/#'

-# キーフィーチャーズ
.key__features
  .key__features__head
    FURIMAの特徴
  .key__features__items
    .key__features__item
      = image_tag "icon/icon-01.png", class: "item__img"
      .item__subtitle
        簡単に売り買い出来る
      .item__detail
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .key__features__item
      = image_tag "icon/icon-03.png", class: "item__img"
      .item__subtitle
        売上金は即日振込みに対応
      .item__detail
        午前９時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
    .key__features__item
      = image_tag "icon/icon-04.png", class: "item__img"
      .item__subtitle
        様々な支払いに対応
      .item__detail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  -# ピックアップカテゴリー
.pickup__container
  .pickup__container__head
    ピックアップカテゴリー
  .pickup__container__box
    .container__box__head
      = link_to "新規投稿商品",'/#'
    .wrapper
      = render "relatedlist"

-# ピックアップブランド
.pickup__container
  .pickup__container__head
    ピックアップブランド
  .pickup__container__box
    .container__box__head
      = link_to "アーカイバ",'/#'
    .wrapper
      = render "relatedlist"