.container__box__lists
  - @product.each do |product|
    = link_to product_path(id: product.id) do
      .container__box__list
        - ft_image = product.images.first
        = image_tag ft_image.image.url, class: "list__image"
        .list__body
          .list__body__name
            = product.name
          .list__body__details
            %ul
              %li 
                = "¥"
                = product.price
              %li 
                %i.fas.fa-star 0
            %p (税込み)