.new__header
  .new__icon
    = link_to image_tag('logo/logo.png',class: 'icon-image')
.main-new
  .product-content
    = form_with model: @product do |f|
      .product-content__image
        .form-image
          = f.label :出品画像
          %span.required 必須
        %p 最大10枚までアップロードできます
        .post__drop__box__container
          .prev-content
          .label-content
            -# %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
            #hidden-content
              = f.fields_for :images do |i|
                .file_group{data: {index: i.index}}
                  = i.label :image, class: "label-box" do
                    %p.label-box__text-visible クリックしてファイルをアップロード
                    = i.file_field :image, class: "hidden-field"
                    %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
                    %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
                    %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
                    %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
      .product-content__info
        .info-name
          .name
            = f.label :商品名
            %span.required 必須
          .name-form
            = f.text_field :name, class: "form-text", placeholder: '40文字まで'
        .info-describe
          .describe
            = f.label :商品の説明
            %span.required 必須
          .describe-form
            = f.text_area :describe, class: "form-area", placeholder: "商品の説明""(色、素材、重さ、定価、注意点など)"
      .product-content__detail
        .item-detail
          %p 商品の詳細
          <br>
        .category
          .category-name
            =f.label :カテゴリー
            %span.required 必須
          .category-form
            = f.select :category, {}, {include_blank: "選択してください"} ,class: "form-text"
        .brand
          .brand-name
            =f.label :ブランド
            %span.optional 任意
          .brand-form
            = f.text_field :brand, class: "form-text", placeholder: "例)シャネル"
        .state
          .state-name
            =f.label :商品の状態
            %span.required 必須
          .state-form
            = f.select :state, {}, {include_blank: "選択してください"} ,class: "form-text"
      .product-content__send
        %p 配送について
        <br>
        .cost
          .cost-name
            = f.label :配送料の負担
            %span.required 必須
          .cost-form
            = f.select :cost, {}, {include_blank: "選択してください"} ,class: "form-text"
        .region
          .region-name
            = f.label :発送元の地域
            %span.required 必須
          .region-form
            = f.collection_select :region_id, Region.all, :id, :name, {include_blank: "選択してください"} ,class: "form-text"
        .period
          .period-name
            = f.label :発送までの日数
            %span.required 必須
          .period-form
            = f.select :period, {}, {include_blank: "選択してください"} ,class: "form-text"
      .product-content__price
        %p 価格 (¥300〜9,999,999)
        <br>
        .price
          .price-name
            = f.label :販売価格
            %span.required 必須
          .price-form
            %span ¥
            = f.number_field :price, placeholder: "0", class: "price-number"
      .send-btn
        = f.submit '出品する', class: "send-btn__form"
        = link_to 'もどる', root_path, class: "send-btn__back"
      .attention
        %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.footer_new
  = render 'footer_new'